*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display: flex;
}
.siteName{
    background-image: url("images/backgroundImage.jpg");
    background-size: cover;
    height: 100%;
    width: 40%;
}

.myHeading{
    display: flex;
    align-items: center;
    justify-content: center;
}
.odinLogo{
  width: 80px;  
}

.myHeadingText{
    color: white;
}

.mySection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:whitesmoke ;
    width: 70%;
    height: 100%;
}

.myForm, .bottomSection, .intro{
    height: 33%;
}
.myForm{
    background-color: white;
}