*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Norse-bold', sans-serif;
}
.container{
    height: 100vh;
    display: flex;
}
.siteName{
    background-image: url("images/backgroundImage.jpg");
    background-size: cover;
    height: 100%;
    width: 40%;
}

.myHeading{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000070;
    position: relative;
    top: 140px;
}
.odinLogo{
  width: 80px;  
}

.myHeadingText{
    color: white;
}

.mySection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:whitesmoke ;
    width: 70%;
    height: 100%; 
}
.intro-text{
    margin: 0 0 50px 0;
}

.intro-text p{
    padding: 10px 30px;
    font-weight: 600
    ;
}
.formHeading{
    padding:  9px 30px;
    font-size: 18px;
    font-weight: 700;
}

.bottomSection{
    margin: 30px;
    background-color: whitesmoke;
}

.bottomSection button{
    background-color: #596D48;
    color: white;
    padding: 8px 16px ;
    border-radius: 3px;
    border: none;
}
.bottomSection button:hover{
    background-color: #596D4895;
}

.login{
    padding: 20px 0;
}

.login span{
    font-size: 14px;
}
.login a{
    color: black;
    padding: 0 0 0 5px;
    font-weight: 700;
    font-size: 15px;
}

.login a:hover{
    color: #00000070;
}
.myForm{
    background-color: white;
}
.formInputs{
    display: flex;
    gap: 30px;
}

.formLeftSection>div, .formRightSection>div{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
label{

    padding: 6px 0;
    font-size: 11px;
}

input{
    width: 300px;
    height: 32px;
    margin: 0 0 8px 0;
    color: grey;
    font-size: 14px;
    font-weight: 300;
}

.mySection P{
    width: 80%;
}