*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display: flex;
}
.siteName{
    background-image: url("images/backgroundImage.jpg");
    background-size: cover;
    height: 100%;
    width: 40%;
}

.myHeading{
    display: flex;
    align-items: center;
    justify-content: center;
}
.odinLogo{
  width: 80px;  
}

.myHeadingText{
    color: white;
}

.mySection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:whitesmoke ;
    width: 70%;
    height: 100%; 
}
.intro-text{
    margin: 0 0 50px 0;
}

.intro-text p{
    padding: 10px 20px;
}
.formHeading{
    padding:  9px 20px;
}

.bottomSection{
    margin: 30px;
    background-color: whitesmoke;
}

.bottomSection button{
    background-color: #596D48;
    color: white;
    padding: 8px 12px ;
    border-radius: 3px;
    border: none;
}

.login{
    padding: 20px 0;
}
.myForm{
    background-color: white;
}
.formInputs{
    display: flex;
    gap: 30px;
}

.formLeftSection>div, .formRightSection>div{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
label{

    padding: 4px;
}

input{
    width: 300px;
    height: 32px;
}

.mySection P{
    width: 80%;